@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 17px;
  color: #777777;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
li,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  width: 100%;
}

.site-btn {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 14px 40px;
  border: none;
  font-family: "Poppins", sans-serif;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  background: #fff;
  color: #333;
  font-weight: bold;
}
.site-btn:hover,
.site-btn:focus {
  outline: none;
  color: #333;
}

.main-warp {
  position: relative;
  z-index: 5;
  background: #fff;
}
.responsive {
  display: none;
}
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0);
  padding: 15px 50px;
  transition: all 0.4s ease 0s;
}
.header-section .menu-list {
  list-style: none;
  float: right;
  margin-top: 8px;
}
.header-section .menu-list li {
  display: inline;
}
.header-section .menu-list li a {
  display: inline-block;
  padding: 10px;
  color: #a0a0a0;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.09em;
  transition: all 0.3s ease 0s;
}
.header-section .menu-list li a:hover {
  color: #fff;
}
.header-section .menu-list .current a {
  color: #fff;
}
.header-section.sticky {
  position: fixed;
  background: #000;
  padding: 10px 30px;
}

.intro-section {
  height: 100%;
  position: relative;
  overflow: hidden;
  z-index: 6;
}
.intro-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #0a0c17;
}
#round {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.intro-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: table;
  pointer-events: none;
}
.intro-inner a,
.intro-inner .profile-img {
  pointer-events: auto;
}
.intro-inner .intro-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.intro-inner .intro-content .profile-img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
  position: relative;
  z-index: 9;
}
.intro-inner .intro-content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-top: 25px;
}
.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ====================
  Contact Section
=======================*/
.contact-section {
  position: relative;
  padding: 100px 0;
  text-align: center;
}
.contact-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-bg:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}
.contact-section .container {
  position: relative;
  z-index: 1;
}
.contact-section h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
}

.social-links {
  font-size: 22px;
  margin-bottom: 30px;
}
.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: #fff;
  margin: 5px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}
.social-links a:hover {
  transform: scale(1.15);
  color: #fff;
}
.social-links a.github {
  background: #000;
}
.social-links a.linkedin {
  background: #0077b5;
}
.social-links a.instagram {
  background: #cd486b;
}
.social-links a.reddit {
  background: #ff4500;
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .header-section {
    padding: 10px 30px;
  }
  .header-section.bgc {
    background: #000;
  }
  .header-section .menu-list {
    display: none;
    float: none;
    clear: both;
    border-top: 1px solid #222;
  }
  .header-section .menu-list li {
    display: inline;
  }
  .header-section .menu-list li a {
    display: block;
    padding: 10px;
  }
  .header-section .menu-list li a:after {
    left: 0%;
  }
  .header-section .menu-list li a:hover:after {
    width: 10px;
    margin-left: 10px;
  }
  .header-section .menu-list .current a:after {
    margin-left: 10px;
  }
  .responsive {
    display: block;
    color: #fff;
    font-size: 34px;
    position: absolute;
    right: 30px;
  }
  .intro-inner .intro-content h2 {
    font-size: 40px;
  }
}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
  .intro-inner .intro-content h2 {
    font-size: 27px;
  }
}
